.auth-wrapper {
  display: grid;
  place-items: center;
  flex: 1;
}

.auth-card {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 2em;
  border: 1px solid lightgrey;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

.auth-card h1 {
  text-align: center;
}

.auth-item {
  display: grid;
  gap: 0.2em;
  font-size: 1.2rem;
}

.auth-card > button {
  margin-top: 1em;
}

.auth-error {
  color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
