.home-main {
  font-family: 'Montserrat';
  flex: 1;
  display: flex;
  color: white;
  flex-direction: column;
}

.home-title {
  font-size: clamp(3rem, 13dvw, 5rem);
}

.home-welcome {
  padding: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 60dvh;
}

.home-welcome::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/banner.jpg');
  filter: brightness(0.7);
  z-index: -1;
}

.home-actions {
  padding: 4em;
  display: grid;
  place-items: center;
}

.home-actions button {
  font-size: 2rem;
  color: white;
  background: var(--green);
  transition: box-shadow 0.5s;
}

.home-actions button:hover {
  box-shadow: 0 0 32px var(--green);
}

.home-timeline {
  color: black;
  padding: 2em;
}
