.profile-wrapper {
  padding: 2em;
  justify-self: center;
  max-width: 1000px;
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.profile-details {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  font-weight: 500;
  gap: 0.5em;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.profile-details-item {
  font-size: 1.5rem;
  margin-top: 0.3em;
}
.profile-details-info {
  font-size: 1rem;
}

.profile-details-image {
  border-radius: 50%;
}

.profile-orders-title {
  text-decoration: underline;
  font-size: 2rem;
}

.profile-control {
  margin-top: auto;
}

.profile-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
