.profile-wrapper {
  padding: 2em;
  justify-self: center;
  max-width: 1000px;
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.profile-details {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  font-weight: 500;
  gap: 0.5em;
  align-items: flex-start;
}

.profile-details-item {
  font-size: 1.2rem;
  margin-top: 0.2em;
  font-weight: 400;
}

.profile-details-info {
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
}

.profile-details-image {
  border-radius: 50%;
}

.profile-orders-title {
  text-decoration: underline;
  font-size: 2rem;
}

.profile-control {
  margin-top: auto;
}

.profile-edit {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.profile-details-info > input {
  display: block;
  width: 100%;
  max-width: 20rem;
}
