.shopping-page-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  justify-self: left;
  font-family: 'Montserrat';
}

.shopping-page-table {
  border-collapse: collapse;
}

.shopping-page-table th,
.shopping-page-table td {
  border: 1px solid #ddd;
  padding: 0.8em;
  text-align: left;
}

.shopping-page-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.shopping-page-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.shopping-page-table tr:hover {
  background-color: #f1f1f1;
}

.shopping-cart-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.shopping-page-total > button {
  margin-top: 0.5em;
}

.shopping-page-address {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5em;
  font-weight: 600;
}

.shopping-page-address-dropdown {
  padding: 0.2em;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  cursor: pointer;
}
