.menu-wrapper {
  padding: 1em;
  display: grid;
  max-width: 800px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  justify-self: center;
  gap: 1em;
}

.menu-category {
  font-family: 'Montserrat';
}

.menu-category-items {
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  padding-left: 1em;
  padding-top: 0.2em;
}

.menu-item {
  display: flex;
  gap: 1em;
}

.menu-item-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.menu-item-price {
  font-size: 1rem;
  font-weight: 500;
}

.menu-item-description {
  font-size: 1rem;
  font-style: italic;
  color: #777;
}

.menu-category-title {
  text-decoration: underline;
}
