@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --green: #00dd00;
  --yellow: #fde047;
  --red: #ef4444;
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  font-family: 'Montserrat';
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
